---
http_interactions:
- request:
    method: get
    uri: https://purl.stanford.edu/yg867hg1375.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"67aa6d1481ba1537ae63af5aaf493f84"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <publicObject id="druid:yg867hg1375" published="2013-11-11T15:34:32-08:00">
          <identityMetadata>
            <objectId>druid:yg867hg1375</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Francis E. Stafford photographs, 1909-1933</objectLabel>
            <objectType>collection</objectType>
            <adminPolicy>druid:vb546ms7107</adminPolicy>
            <otherId name="catkey">9615156</otherId>
            <otherId name="uuid">8f1feb20-4b29-11e3-8e31-0050569b3c3c</otherId>
            <tag>Remediated By : 3.25.3</tag>
          </identityMetadata>
          <xml/>
          <rightsMetadata>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <world/>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction"/>
              <human type="creativeCommons"/>
              <machine type="creativeCommons"/>
            </use>
            <copyright>
              <human/>
            </copyright>
          </rightsMetadata>
          <rdf:RDF xmlns:fedora-model="info:fedora/fedora-system:def/model#" xmlns:hydra="http://projecthydra.org/ns/relations#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
            <rdf:Description rdf:about="info:fedora/druid:yg867hg1375">
            </rdf:Description>
          </rdf:RDF>
          <oai_dc:dc xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:srw_dc="info:srw/schema/1/dc-schema" xmlns:oai_dc="http://www.openarchives.org/OAI/2.0/oai_dc/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.openarchives.org/OAI/2.0/oai_dc/ http://www.openarchives.org/OAI/2.0/oai_dc.xsd">
            <dc:title>Francis E. Stafford photographs, 1909-1933</dc:title>
            <dc:contributor>Stafford, Francis E., 1884-1938</dc:contributor>
            <dc:type>Collection</dc:type>
            <dc:date>1909-1933</dc:date>
            <dc:language>und</dc:language>
            <dc:format>3 oversize boxes.</dc:format>
            <dc:description>Photographs of scenes in China, mainly between 1909 and 1915.</dc:description>
            <dc:rights>Closed. Digital use copies available.</dc:rights>
            <dc:description type="biographical/historical">American missionary in China, 1909-1915 and 1932-1933.</dc:description>
            <dc:coverage>China</dc:coverage>
          </oai_dc:dc>
        </publicObject>
  recorded_at: Wed, 17 Dec 2014 19:44:13 GMT
- request:
    method: get
    uri: https://purl.stanford.edu/jf275fd6276.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"22502398c6e7447b1cd27010cb75ec4b"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <publicObject id="druid:jf275fd6276" published="2014-04-02T16:57:04-07:00">
          <identityMetadata>
            <sourceId source="hoover">2012c34_3_a</sourceId>
            <objectId>druid:jf275fd6276</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Album A:  Photographs of China's natural landscapes, urban scenes, cultural landmarks, social customs, and people.</objectLabel>
            <objectType>item</objectType>
            <adminPolicy>druid:vb546ms7107</adminPolicy>
            <otherId name="label"/>
            <otherId name="uuid">080ac28c-5159-11e3-815a-0050569b3c3c</otherId>
            <tag>Process : Content Type : Image</tag>
            <tag>Project : Stafford Photographs</tag>
            <tag>Registered By : blalbrit</tag>
            <tag>Remediated By : 3.25.3</tag>
          </identityMetadata>
          <contentMetadata objectId="jf275fd6276" type="image">
            <resource id="jf275fd6276_1" sequence="1" type="image">
              <label>Image 1</label>
              <file id="a24.jp2" mimetype="image/jp2" size="3674159">
                <imageData width="5334" height="3660"/>
              </file>
            </resource>
            <resource id="jf275fd6276_2" sequence="2" type="image">
              <label>Image 2</label>
              <file id="a25.jp2" mimetype="image/jp2" size="3706126">
                <imageData width="5508" height="3576"/>
              </file>
            </resource>
            <resource id="jf275fd6276_3" sequence="3" type="image">
              <label>Image 3</label>
              <file id="a26.jp2" mimetype="[...]
- request:
    method: get
    uri: https://purl.stanford.edu/nz353cp1092.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Etag:
      - '"039360e05e6fe66d61535ea53fa505cc"'
      Status:
      - '200'
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <publicObject id="druid:nz353cp1092" published="2014-04-02T16:57:01-07:00">
          [...]
- request:
    method: get
    uri: https://purl.stanford.edu/yg867hg1375.xml
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"fc30e6f59dacce0a53e4578a4be37a3c"'
      Last-Modified:
      - Thu, 01 Oct 2015 19:20:04 GMT
      Status:
      - 200 OK
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <publicObject id="druid:yg867hg1375" published="2015-10-01T12:20:04-07:00">
          <identityMetadata>
            <objectId>druid:yg867hg1375</objectId>
            <objectCreator>DOR</objectCreator>
            <objectLabel>Francis E. Stafford photographs, 1909-1933</objectLabel>
            <objectType>collection</objectType>
            <adminPolicy>druid:vb546ms7107</adminPolicy>
            <otherId name="catkey">9615156</otherId>
            <otherId name="uuid">8f1feb20-4b29-11e3-8e31-0050569b3c3c</otherId>
            <tag>Remediated By : 4.17.1</tag>
            <displayType>image</displayType>
            <release to="Searchworks">true</release>
          </identityMetadata>
          <xml/>
          <rightsMetadata>
            <access type="discover">
              <machine>
                <world/>
              </machine>
            </access>
            <access type="read">
              <machine>
                <world/>
              </machine>
            </access>
            <use>
              <human type="useAndReproduction"/>
              <human type="creativeCommons"/>
              <mach[...]
